$background-color: #022B3B;
$social-color: #FFF;
$input-border: #207791;
$button-border: #207791;
$button-color: #207791;
$button-background: #083A52;
$icon-color: #022B3B;
$social-icons-background: #207791;
$footer-background: #022B3B;
$copyright-color: #115A70;
@import "social_style";