$background-color: #572E4F;
$social-color: #FFF;
$input-border: #BF1E62;
$button-border: #BF1E62;
$button-color: #FFF;
$button-background: #BF1E62;
$icon-color: #572E4F;
$social-icons-background: #027B7F;
$footer-background: #BF1E62;
$copyright-color: #FFF;
@import "social_style";