$background-color: #FFF;
$social-color: #000;
$input-border: #000;
$button-border: #000;
$button-color: #FFF;
$button-background: #000;
$icon-color: #FFF;
$social-icons-background: #232323;
$footer-background: #121212;
$copyright-color: #FFF;
@import "social_style";