$background-color: #282E3A;
$social-color: #FFF;
$input-border: #FFF;
$button-border: #FFF;
$button-color: #FFF;
$button-background: #282E3A;
$icon-color: #FFF;
$social-icons-background: #96212A;
$footer-background: #282E3A;
$copyright-color: #FFF;
@import "social_style";